<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    Object.keys(content).forEach(function(key){
        result = result.concat(content[key]);
    });

    return result;
}

   %>

<div class="col-md-6 col-lg-4">
    <div class="thumbnail container-fluid pizza-card">

        <img src="<%= pizza.icon %>" class="pizza-icon">

        <div class="caption">
            <h3><%= pizza.title %></h3>
            <div class="type">
                <%= pizza.type %>
            </div>

            <div class="ingredients">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
            <%if(pizza.hasOwnProperty("small_size")){%>
            <div class="col-sm-<%if(!pizza.hasOwnProperty("big_size")){%>12<% }else {%>6<%}%> smallPizz">
                <div class="description1">
                    <img class="sizeIcon" src="assets/images/size-icon.svg">
                    <span class="size"><%= pizza.small_size.size%></span>
                </div>
                <div class="description2">
                    <img class="weightIcon" src="assets/images/weight.svg">
                    <span class="weight"><%= pizza.small_size.weight%></span>
                </div>

                <div class="price"><%= pizza.small_size.price%></div>
                <div class="grnLabel">грн</div>

                <button class="btn btn-warning  buy-small">Купити</button>
            </div>
            <% } %>

            <%if(pizza.hasOwnProperty("big_size")){%>
            <div class="col-sm-<%if(!pizza.hasOwnProperty("small_size")){%>12<% }else {%>6<%}%> bigPizz">
                <div class="description1">
                    <img class="sizeIcon" src="assets/images/size-icon.svg">
                    <span class="size"><%= pizza.big_size.size%></span>
                </div>
                <div class="description2">
                    <img class="weightIcon" src="assets/images/weight.svg">
                    <span class="weight"><%= pizza.big_size.weight%></span>
                </div>

                <div class="price"><%= pizza.big_size.price%></div>
                <div class="grnLabel">грн.</div>

                <button class="btn btn-warning  buy-big">Купити</button>
            </div><%}%>
        </div>
    </div>

    <% if(pizza.is_new) { %>
    <span class="label label-danger newLabel">Нова</span>
    <% } else if(pizza.is_popular) {%>
    <span class="label label-success newLabel">Популярна</span>
    <% } %>

</div>